* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width:100%;
    background-color: black;
    overflow: hidden;

}
#vid{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pop{
    transition: top 8ms;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background-color: rgba(252, 248, 248, 0.5);
    text-align: center;
    color: rgb(10, 10, 10);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    padding-left: 0px;
    padding-right: 10px;
    transition: 0.9 top;
    
}
.popitem{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1{
  font-weight: 400;
}
.play{
  display: flex;
  justify-content: center;
  width: 100%;
}
#popbtn{
  margin-top:40px;
  background-color: aqua;
  color: black;
  border: 1.8px solid black;
  font-weight: 500;
  margin-top: 50px;
  cursor: block;
  visibility: hidden;
}

